@import "tailwindcss";

:root {
  color-scheme: dark;
}

/* Hide scrollbar but keep scroll functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  @apply bg-[#080808] text-slate-50;
}
